<!doctype html>
<html lang="en">

<head>
    <title>Agregar nueva hábitat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="static/bootstrap-4.5.0-dist/js/jquery.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/popper.min.js"></script>
</head>

<body>

    {% extends "nav.html" %} {% block body %}

    <br><br>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb col-6 col-md-4 mt-5 ml-2">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="/habitat">Habitats</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Registro</li>
        </ol>
    </nav>


    <div class="container-fluid">
        <h1>
            <center>
                Añadir Hábitat
            </center>
        </h1>
        <br>

        <div class="row">
            <div class="col-12 col-md-4 mx-auto">


                <form class="needs-validation" action="/guardadoHabitats" method="POST" novalidate>
                    {% for contact in datos %}

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="usernom">Id Habitats</label>
                            <input type="text" class="form-control" name="idHabitats" value="{{contact.0}}" id="usernom" readonly required>
                            <div class="invalid-feedback">
                                Nombre del cliente.
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="usernom">Nombre</label>
                            <input type="text" class="form-control" name="txtnombreH" value="{{contact.1}}" id="usernom" required>
                            <div class="invalid-feedback">
                                Nombre del cliente.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="empr">Clima</label>
                            <input type="text" class="form-control" name="txtClima" value="{{contact.2}}" id="empr" required>
                            <div class="invalid-feedback">
                                falta el clima
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="cedu">Vegetacion</label>
                            <input type="text" class="form-control" name="txtVege" value="{{contact.3}}" id="cedu" placeholder="" required>
                            <div class="invalid-feedback">
                                Por favor ingrese la vegetecion
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="est">Estado</label>
                            <select class="custom-select" name="txtEstado" id="est" value="{{contact.4}}" required>
                                <option selected disabled value="Sin estado">Seleccionar...</option>
                                <!-- Dinamico -->
                                <option>Activo</option>
                                <option>Inactivo</option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccion un estado.
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-primary btn-lg col-12" value="{{btn}}" name="btnHabitat" type="submit">Registrar</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-danger btn-lg col-12" type="reset">Cancelar</button>
                        </div>
                    </div>
                    {% endfor %}

                </form>


            </div>
        </div>
    </div>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</body>

</html>
{% endblock %}