<!doctype html>
<html lang="en">

<head>
    <title>Animales</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="static/bootstrap-4.5.0-dist/js/jquery.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/popper.min.js"></script>
</head>

<body>

    {% extends "nav.html" %} {% block body %}

    <br><br><br>
    <center>
        <h1>Animales</h1>
    </center>
    <br>
    <div class="row">
        <div class="col-12 col-md-4 mx-auto">
            <div class="col-12 md-6">
                <div class="form-row">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>

                    <div class="form-inline col-5">
                        <label for="id">ID Animal</label>
                        <select class="custom-select" name="txtEstado" value="" id="id" required>
                            <option selected disabled value="Sin estado">Seleccionar</option>
                            <!-- Dinamico -->
                            <option></option>
                            <option></option>
                        </select>
                        <div class="invalid-feedback">
                            Seleccione un Id
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <br>
    <!-- boton de agregar -->
    <a href="/agregarAnimales" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Agregar animales</a>

    <br><br>

    <!-- tabla -->
    <div class="row">
        <div class="col-12 mx-auto">
            <table class="table table-hover">
                <!-- cabezera de la tabla -->
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID Animal</th>
                        <th scope="col">ID Especie</th>
                        <th scope="col">Nombre Común</th>
                        <th scope="col">Nombre Científico</th>
                        <th scope="col">CategoryID</th>
                        <th scope="col">Más detalles</th>
                        <th scope="col">Editar</th>

                    </tr>

                </thead>
                <!-- cuerpo de la tabla -->
                <tbody>

                    <tr>
                        <th scope="row"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>




                        <td>
                            <button type="button" class="btn btn-primary" ata-toggle=" modal " data-target=" ">
                                Mostrar
                            </button>




                        </td>

                        <td>
                            <!-- editar -->
                            <a href=" ">
                                <svg class="bi bi-pencil-square " width="32 " height="32 " viewBox="0 0 16 16 " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z "></path>
                            <path fill-rule="evenodd " d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z "></path>
                            </svg>
                            </a>

                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>






</body>

</html>
{% endblock %}