<!doctype html>
<html lang="en">

<head>
    <title>Especies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="static/bootstrap-4.5.0-dist/js/jquery.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/popper.min.js"></script>
</head>

<body>
    {% extends "nav.html" %} {% block body %}

    <br><br><br><br>
    <center>
        <h1><strong>Tipos de especies</strong></h1>
    </center>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb col-6 col-md-4 mt-5 ml-2">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="/habitat">Habitats</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Especies</li>
        </ol>
    </nav>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-md-12 mx-auto">

                <div class="form-row">

                    <div class="col-12 col-md-4 mb-3">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#espe">
                            Agregar Especie
                        </button>
                    </div>

                    <div class=" col-12 col-md-4 mb-3">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <div class="form-inline col-5">
                            <label for="num">Buscar N° Especie</label>
                            <select class="custom-select" name="txtEstado" value="" id="num" required>
                                <option selected disabled value="Sin estado">Seleccionar</option>
                                <!-- Dinamico -->
                                <option></option>
                                <option></option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccione un número de especie
                            </div>
                        </div>
                    </div>



                </div>

            </div>

            {% for indice in datos%}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="https://placehold.it/1200x400?text=Mamíferos" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{indice.0}}</h5>
                        <p class="card-text">{{indice.1}}</p>
                        <p class="card-text">{{indice.2}}</p>
                        <p class="card-text">{{indice.3}}</p>
                        <a href="/animales" class="btn btn-primary">Acceder </a>
                        <a href="#" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </div>
            {% endfor%}


        </div>

    </div>








    <center>
        <!-- Modal -->
        <div class="modal fade" id="espe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar especie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">

                        <form action="#" method="POST">



                            <div class="form-group row">
                                <label for="numH" class="col-sm-2 col-form-label">N° Hábitat</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="numH" name="txtNumH" placeholder="Ingrese un número de hábitat">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="nomEs" class="col-sm-2 col-form-label">Nombre de Especie</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nomEs" name="txtNomEs" placeholder="Ingrese un nombre de especie">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="indice" class="col-sm-2 col-form-label">Índice de Vulnerabilidad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="indice" name="txtIndice" placeholder="Ingrese un índice de Vulnerabilidad">
                                </div>
                            </div>



                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

    </center>



</body>

</html>
{% endblock %}