<!doctype html>
<html lang="en">

<head>
    <title>Hábitat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="static/bootstrap-4.5.0-dist/js/jquery.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/popper.min.js"></script>
</head>

<body>

    {% extends "nav.html" %} {% block body %}

    <br><br><br><br>
    <center>
        <h1>Hábitat</h1>
    </center>

    <br>
    <!-- boton de agregar habitat -->
    <a href="/agregarHabitat" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Agregar nueva hábitat</a>

    <br><br><br>

    <div class="container-fluid">

        <div class="row mx-auto">

            <div class="col-12 col-md-4 col-lg-4">


                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://placehold.it/1200x1300?text=xxx" class="card-img" alt="Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">A</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary">Acceder</a>
                                <a href="#" class="btn btn-primary">Editar</a>
                                <a href="#" class="btn btn-primary">Cambiar Estado</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-12 col-md-4 col-lg-4">


                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://placehold.it/1200x1300?text=Mamíferos" class="card-img" alt="Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">A</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary">Ir a la página</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-4 col-lg-4">


                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://placehold.it/1200x1300?text=Mamíferos" class="card-img" alt="Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">A</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary">Ir a la página</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-12 col-md-4 col-lg-4">


                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://placehold.it/1200x1300?text=Mamíferos" class="card-img" alt="Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">A</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary">Ir a la página</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</body>

</html>
{% endblock %}