<!doctype html>
<html lang="en">

<head>
    <title>Historial</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="static/bootstrap-4.5.0-dist/js/jquery.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/popper.min.js"></script>
</head>

<body>

    {% extends "nav.html" %} {% block body %}

    <br><br><br><br>
    <center>
        <h1>Historial de visitas</h1>
    </center>

    <br><br><br><br>
    <!-- tabla -->
    <div class="row">
        <div class="col-12 mx-auto">
            <table class="table table-hover">
                <!-- cabezera de la tabla -->
                <thead class="table-light">
                    <tr>
                        <th scope="col">N° de visita</th>
                        <th scope="col">Cédula de trabajador</th>
                        <th scope="col">Código de Itinerario</th>
                        <th scope="col">Cantidad de visitantes</th>
                        <th scope="col">Fecha</th>
                    </tr>

                </thead>
                <!-- cuerpo de la tabla -->
                <tbody>

                    <tr>


                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>

</html>
{% endblock %}